.menu-button {
  position: absolute;
  bottom: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 3px solid #000;
  border-radius: 50%;
  transition: .3s ease-in-out;
  transform: translate(-50%, 50%);
  z-index: 4;

  svg {
    width: 80%;
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.backdrop {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  opacity: 1;
  animation: fadeIn .3s ease;
  transition: .3s ease-in-out;
  
  & * {
    text-transform: uppercase;
  }
}

.backdrop-inner {
  width: 100%;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  button {
    background: #fff;
    color: #000;
    text-shadow: #9b9b9b 1px 1px;
  }
}

.players-count {
  text-align: center;
  font-size: 2rem;

  .players-count-container {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .players-count-button {
      width: 50px;
      height: 50px;
      font-size: .5em;
      border: 2px solid #000;
      border-radius: 50%;
      font-size: 1.5rem;

      &:disabled {
        color: #f00;
        border-color: #f00;
      }
    }
  }
} 

.reset-life-button {
  width: 100%;
  padding: 5px 0;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 1.2rem;
}