.player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.rotate-180 {
  .player-inner {
    transform: rotate(180deg);
  }
}

.rotate-90 {
  .player-inner {
    transform: rotate(90deg);
  }
}

.rotate-270 {
  .player-inner {
    transform: rotate(270deg);
  }
}

.player-inner {
  position: absolute;
  width: var(--player-inner-width, 100%);
  height: var(--player-inner-height, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #169e9e;
}

.life-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.life-value-container {
  position: relative;
  text-shadow: #000 4px 4px;
  transform: translate(0, 10%);
}

.life-value.dead {
  color: #f00;
}

/* @keyframes shake {
  0% { transform: translate(-50%, 50%) translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-50%, 50%) translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-50%, 50%) translate(-1px, 0px) rotate(1deg); }
  30% { transform: translate(-50%, 50%) translate(0px, 1px) rotate(0deg); }
  40% { transform: translate(-50%, 50%) translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-50%, 50%) translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-50%, 50%) translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(-50%, 50%) translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-50%, 50%) translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(-50%, 50%) translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(-50%, 50%) translate(1px, -1px) rotate(-1deg); }
} */

.life-temp {
  position: absolute;
  top: -45%;
  left: 50%;
  font-size: 2.5rem;
  text-shadow: #000 2px 2px;
  transform: translate(-50%, 50%);
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;
  /* animation: shake 2s linear alternate infinite; */

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.life-button {
  width: clamp(60px, 24vw, 120px);
  height: 100%;
  font-size: 3rem;
  transition: .15s ease-in-out;
  text-shadow: #000 2px 2px;

  &:active {
    background: rgba(0, 0, 0, 0.04);
  }
}

.settings-drawer {
  position: absolute;
  background: #707070;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  transition: all .2s ease-in-out;
  overflow: hidden;
  transform: translate(0, 100%);
  z-index: 2;
}

.settings-drawer.opened {
  transform: translate(0, 0);
}

.settings-button-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: rgba(255, 0, 0, 0.192); */
  z-index: 3;
}

.settings-button {
  position: absolute;
  width: calc(100% - 10px);
  border-radius: 5px;
  background: #383838;

  &::after {
    content: '';
    display: block;
    width: clamp(20px, 30%, 200px);
    height: 3px;
    margin: 0 auto;
    background: #cacaca;
    border-radius: 3px;
  }
}

.\000032-players {
  .life-temp {
    font-size: 2.5rem;
  }

  .settings-button-container {
    height: 50px;
  }
  
  .settings-button {
    height: 25px;
  }
}

.\000033-players, .\000034-players {
  .life-temp {
    font-size: 2rem;
  }

  .settings-button-container {
    height: 30px;
    padding: 5px 0 0;
  }
  
  .settings-button {
    height: 16px;
  }
}
